body {
    background-color:rgb(244, 244, 244);
    margin-top: 2%;
    scroll-behavior: smooth;
    width: 100vw;
    -webkit-text-size-adjust: auto;
    overflow-x: hidden;
}

#nameTitle{
    position:absolute;
    width: 100vw;
}


.ldBar {
    position: relative;
  }
  .ldBar.label-center > .ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px #fff;
  }

  .ldBar-label:after {
    content: "%";
    display: inline;
  }

  .ldBar.no-percent .ldBar-label:after {
    content: "";
  }

#divideTab {

    font-size: 1em;
    cursor: default;
    align-items: center;
    vertical-align: middle; 
    display: table-cell; 
}

.my-element {
    display: inline-block;
    animation: animate__fadeIn;
    animation-duration: 5s;
}

img {
    display: inline;
}

#texts { 
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: table;
    overflow: hidden;
}

#homeIcon {
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 2%;
}

#homeLink {
    text-decoration: line-through;
    display: inline;
} 


#hyphenOne {
    color: #a4a4a4;
    display: inline-block;
}

#hyphen {
    display: inline-block;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    text-align: center;
    font-family: magneta, serif;
    font-weight: 400;
    font-style: normal;
}

li {
    float: left;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

#sideLinks {
    text-align: right;
    right: 80%;
    display: inline;
    margin-right: 2vw;
    position: absolute;
    right: 0;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    position: fixed;
    background: #4c4c4c;
}

ul.sideNav li {
    margin-right: 20px;
    float: right;
    height: 100%;
    line-height: 45px;
}

#head {
    float: right;
    margin-right: 3%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

a {
    color:#747474;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    cursor: pointer;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

h1 {
    font-size: 19px;
    letter-spacing: 10px;
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: rgb(74, 74, 74);
    font-size: 12px;
    position: relative;
    white-space: nowrap;
    text-shadow: 0px 0px 2px #e6e6e6;
}

h6 {
    color: rgb(74, 74, 74);
    font-size: 10px;
}

#bottomLinks {
    word-spacing: 10px;
}

a {
    display: inline;
    padding: 7px;
    margin: -7px;
}

#linkClickable {
    display: inline;
}

a {
    display: inline;
    padding: 7px;
    margin: -7px;
}

.menuLinks {
    font-size: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 1px 2px rgb(237, 237, 237);
}


@media (min-width: 600px)
{
    h1 {
        white-space: nowrap;
    }

    .menu-wrap .menu {
        left: 30%;
        width: 80%;
        height: 14%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        display: inline;
        letter-spacing: 7px;
        white-space: nowrap;
    }

    .divideLine {
        color:#747474;
        font-family: rubik, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 9.5px;
    }

}

@media (max-width: 600px) {
    h1 {
        white-space: nowrap;
        letter-spacing: 0.4em;
        font-size: 4.0vw;
    }
    body{overflow-x: hidden;}

    #nameTitle {
        text-align: center;
    }

    .menu-wrap .menu {
        right: 10%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        display: inline;
        align-items: center;
        justify-content: center;
    }

    h2 {
        display: inline;
        letter-spacing: .5em;
        font-size: 2.8vw;
        white-space: nowrap; 
    }

    #divideTab {
        display: none;

    }
    #divideTab {
     
        font-size: .1em;
        cursor: default;
    }

    
    .menuLinks {
        font-size: 3.5vw;
        margin-right: 3vw;   
    }

    ul{
        margin-right: 1rem;
    }   
}

a.bottom {
    position: relative;
}

a.bottom:hover:before {
    visibility: visible;
    visibility: hidden;
    height: 1.5px;
    width: 20%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

:root {
    --menu-speed: 0.75s;
}

.menu {
    text-align: right;
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.text {
    text-align: right;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 10px;
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5px;
}

.btn:hover {
    opacity: 0.7;
}


.menu-wrap {
    top: 0;
    position: relative;
    float: right;
    text-align: right;
    width: auto;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 90px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 20%;
    height: 1.5px;
    background:#9b9b9b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}



.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 30%;
    height: 2px;
    background: inherit;
}



.menu-wrap .hamburger>div::after {
    top: 10px;
}



.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}



.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}



.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}



.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
     margin-left: -5%;
    visibility: hidden;
    display: flex;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 10%;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: right;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #747474;
    font-size: .5vw;
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-break: normal;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

#margined {
    margin-left: 15%;
    margin-right: 15%;
}

body{

    white-space: nowrap;
    width: 100vw;


}

.underName {
    text-align: center;
    line-height: 1px;
    position: relative;
    font-family: jubilat-thin,serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(28, 28, 28); 
}

#nameTitle{
    margin-top: 39vh;
    text-align: center;
    position:absolute;
    font-family: jubilat,serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 24px;
    color:#747474;
}
img{display: none;}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

  @media (min-width: 1070px) {
    
    .menu-wrap{display: none;}
    .menu-wrap2{
        text-align: right;
        margin-right: 10vw;
}
    #large{
        vertical-align: middle;  
    }
    
    #divideTab {
        padding-right: 1em;
        padding-left: 1em;
        font-size: 9px;
        cursor: default;
        vertical-align: top;
        table-layout: auto;
    }
    #large{margin-right: 2.2vw;}
 li {
        font-size: 14px;
        padding-bottom: 20px;
        text-shadow: 0px 1px 2px rgb(237, 237, 237);
        text-align: center;
        line-height: 1px;
        position: relative;
        font-family: jubilat-thin,serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(28, 28, 28);
        padding-left: 4.5px;
        padding-right: 4.5px;
        letter-spacing: 4px;
    }
    #menuLinks{
        color: rgb(28, 28, 28);
    }
    .menu-wrap2{margin-right: 155px;}
  
 
  }


  @media (max-width: 1070px) {  
    .menu-wrap2{display: none;visibility:hidden;}
    .m2{display: none;visibility:hidden;}
    .menuThin{display: none; font-size: 0px;visibility:hidden;} 
    #menuLinks2{font-size: 100px;visibility:hidden;}
    .menu-wrap{margin-right: 8vw;}
    .m2{
        font-size: 300px;
    }

    li{
        padding-left: 3em;
        padding-right: 3em;
    
    }
  
    #menuLinks{
        font-size: 17px; 
    }
    body{overflow-x: hidden;}

    }
